@import './../../../styles/mixins';

#GridHeader {
    @include dimensions(100%, 15%);
    @include setImprovedFlex($direction: column);
}

#GridTitle {
    @include dimensions(97%, 97%);
    @include setImprovedFlex($justify: flex-start, $align: flex-end);
    margin-left: 3%;
    font-size: 1.05em;
    font-weight: 700;
}

#GridHr {
    @include dimensions(96%, 3%);
    margin: 0 2%;
    background: #000;
}